<header class="fixed-top">

  <!-- utilisation des composants statiques -->
  <!-- header -->

  <!-- <app-header></app-header> -->



  <button (click)='onClick()'>
    <!-- ici une icône -->
    <app-icon-nav *ngIf='open'></app-icon-nav>
    <!-- ici icone pour refermer app-icon-close -->
    <app-icon-close *ngIf='!open'></app-icon-close>
  </button>



</header>


<!--
  <main [ngClass]="{'close-aside' : propriété}">...</main>
 -->
<main [ngClass]="{'close-aside' : open}">
  <div class="shadow position-fixed">
  </div>

  <!-- ICI LE MENU -->
  <aside>
    <div class="scroller">
      <app-nav></app-nav>

    </div>
  </aside>

  <!-- ICI LA PARTIE CENTRALE DE LA PAGE -->
  <div class="page">
    <div class="contents">

      <!-- afficher les balises dynamqiues -->
      <router-outlet></router-outlet>


    </div>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>

</main>
