<table class="table" *ngIf="tab$ | async as tab; else loading">
  <thead>
    <!-- {{propriété}} = string interpolation-->
    <!-- *ngFor disponible par CommonModule -->

    <tr>
      <th scope="col" *ngFor='let i of headers'>{{ i }}</th>
    </tr>
  </thead>
  <tbody>
    <!-- boucler dans tab et afficher les propriétés -->
    <tr *ngFor='let obj of tab'>
      <td>
        <app-icon-edit></app-icon-edit>
        <app-icon-delete></app-icon-delete>
      </td>
      <td>{{ obj.typePresta | uppercase }}</td>
      <td>{{ obj.client}}</td>
      <td>{{ obj.nbJours}}</td>
      <td>{{ obj.tjmHt}}</td>
      <td>{{ obj.tjmHt | total :obj.nbJours | currency }}</td>
      <td>{{ obj.tjmHt | total :obj.nbJours :obj.tva | currency}}</td>
      <td>{{obj.state}}</td>



    </tr>



  </tbody>
  <!-- utilisation du bouton  = component qui est réutilisable et personnalisable -->
  <!-- app-btn est un composant enfant -->
  <app-btn label='Add' styleBtn='btn btn-warning'></app-btn>
</table>

<!-- création d'un bloc qui apparaitra dans l'attente de la résolution de l'observable -->
<ng-template #loading>
  <div class="spinner-border" role="status">

  </div>
</ng-template>
