<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" routerLink='/orders' routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}">Liste
      des commandes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/add' routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}">Ajouter une
      commande</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/obs' routerLinkActive='active'
      [routerLinkActiveOptions]="{exact:true}">Observable</a>
  </li>
</ul>


<!-- attention vous devez importer un module pour utiliser routerLink -->
